.card {
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
  border-radius: 1rem;
  border-color: rgba(0, 0, 0, 0.125);
}
.font-weight-bold {
  font-weight: 600 !important;
}
.font-weight-bolder {
  font-weight: 700 !important;
  color: #495057;
}
.text-sm {
  font-size: 0.875rem !important;
  line-height: 1.5;
  color: #6c757d;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
p {
  line-height: 1.625;
  font-weight: 400;
  font-size: 1rem;
  color: #adb5bd;
}
.icon-style {
  font-size: 60px;
  text-align: right !important;
}
