.navbar-wrapper
    height: 60px
    top: 0
    margin-top: 1rem
    background-color: white
    border: 1px solid rgba(0, 0, 0, 0.18)
    border-radius: 10px
    .navbar-profile-avatar
        background-color: blue
        font-style: bold
        display: flex
        justify-content: center
        align-items: center
        color: white
        padding: 1rem
        height: 42px
        width: 42px
        border-radius: 21px
    .navbar-items
        align-items: center
    .navbar-page-title
        font-weight: 500
