.navbar-wrapper
    top: 0
    margin-top: 1rem
    background-color: white
    border: 1px solid rgba(0, 0, 0, 0.18)
    border-radius: 10px
    .navbar-items
        align-items: center
    .navbar-page-title
        font-weight: 500
